<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <property name="LOG_REQUEST_FILE" value="logs/web_service_request.log"/>
  <property name="LOG_ERRORS_FILE" value="logs/errors.log"/>
  <property name="LOG_DEBUG_FILE" value="logs/debug.log"/>
  <property name="FILE_NAME_PATTERN_SUFFIX" value=".%d{yyyy-MM-dd}.gz"/> <!-- daily rollover -->
  <property name="MAX_HISTORY" value="60"/> <!-- keep 60 days' worth of history -->
  <property name="TOTAL_SIZE_CAP" value="100MB"/> <!-- up to 100MB total size of history -->
  <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        ${LOG_PATTERN}
      </pattern>
    </encoder>
  </appender>

  <appender name="DEBUG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
    <file>${LOG_DEBUG_FILE}</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_DEBUG_FILE}${FILE_NAME_PATTERN_SUFFIX}</fileNamePattern>
      <maxHistory>${MAX_HISTORY}</maxHistory>
      <totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>
        ${LOG_PATTERN}
      </pattern>
    </encoder>
  </appender>

  <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
    <file>${LOG_ERRORS_FILE}</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_ERRORS_FILE}${FILE_NAME_PATTERN_SUFFIX}</fileNamePattern>
      <maxHistory>${MAX_HISTORY}</maxHistory>
      <totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>
        ${LOG_PATTERN}
      </pattern>
    </encoder>
  </appender>

  <appender name="REQUEST_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_REQUEST_FILE}</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_REQUEST_FILE}${FILE_NAME_PATTERN_SUFFIX}</fileNamePattern>
      <maxHistory>${MAX_HISTORY}</maxHistory>
      <totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>
        ${LOG_PATTERN}
      </pattern>
    </encoder>
  </appender>

  <logger name="feign" level="DEBUG" additivity="false">
    <appender-ref ref="REQUEST_FILE"/>
  </logger>

  <logger name="org.springframework" level="WARN" additivity="false">
    <appender-ref ref="ERROR_FILE"/>
    <appender-ref ref="CONSOLE"/>
  </logger>

  <logger name="com.entertainment" additivity="false">
    <appender-ref ref="ERROR_FILE"/>
    <appender-ref ref="DEBUG_FILE"/>
    <appender-ref ref="CONSOLE"/>
  </logger>

  <root level="INFO">
    <appender-ref ref="DEBUG_FILE"/>
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>
